:root {
  --cyanCust: #30fbef;
  --blackCust: #282828;
}
* {
  margin: 0;
  padding: 0;
  font-family: now;
  transition: 0.5s all ease-in-out;
}
html {
  scroll-behavior: smooth;
  overflow-x: clip;
}
.full {
  position: relative;
}
.navbar {
  height: 100px;
  width: 100%;
  background-color: var(--blackCust);
  align-items: center;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: center;
}
.navbar:scroll {
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}
.nav-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 80px;
  cursor: pointer;
}

.left-nav div {
  margin-left: 10px;
  font-size: 26px;
  line-height: 160%;
  color: var(--cyanCust);
  font-family: nowBold;
}

.logo {
  height: 50px;
  margin-left: 60px;
}
.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 80px;
}
.right-nav div {
  transition: 0.2s ease-out;
}
.right-nav div a {
  margin-left: 43px;
  text-decoration: none;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}
.right-nav div:hover {
  scale: 110%;
}
.right-nav div a:hover {
  color: var(--cyanCust);
}
.right-nav button {
  margin-left: 40px;
  margin-right: 10px;
  height: 60px;
  width: 210px;
  font-size: 16px;
  line-height: 160%;
  border: 0px;
  color: var(--cyanCust);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background: var(--blackCust);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.right-nav button:hover {
  color: var(--blackCust);
  background: var(--cyanCust);
  font-family: nowBold;
}
.landing {
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--blackCust);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-part1 {
  display: flex;
  width: 100%;
  height: 497px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
.text-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-part h1 {
  font-size: 80px;
  line-height: 110%;
  color: var(--cyanCust);
  font-family: nowBold;
  margin-bottom: 40px;
  overflow: hidden;
}
.text-part p {
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 45px;
}
.text-part button {
  width: 271px;
  height: 76px;
  font-size: 24px;
  line-height: 160%;
  border: 0px;
  color: #ffffff;
  background: var(--blackCust);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.text-part button:hover {
  scale: 105%;
  color: var(--cyanCust);
}
.hero-img img {
  height: 485.89px;
  width: 431px;
}

.landing-part-2-box {
  display: flex;
  align-items: center;
  width: 1117px;
  height: 560px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 2px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  justify-content: space-around;
  margin-bottom: 60px;
}
.text-part-2 h1 {
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  font-family: nowBold;
  color: var(--cyanCust);
}
.text-part-2 p {
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
}

.landing-part-3-box {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 1118px;
  height: 1106px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 1px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  justify-content: space-around;
  margin-bottom: 173px;
  overflow: hidden;
}
.landing-part-3-box h1 {
  margin-left: 93px;
  margin-top: 70px;
  color: var(--cyanCust);
  font-size: 40px;
  line-height: 130%;
  font-family: nowBold;
}

.scroll-items {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* border: 5px solid #fff; */
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: 0.5s all ease-out;
  align-items: center;
  position: absolute;
  left: 0;
  transition: 0.5s all ease-out;
  padding-right: 93px;
}
.card {
  width: 405px;
  height: 642px;
  background: #212121;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25),
    -9px -9px 10px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 45px;
  transition: 0.3s ease-out;
}
.card:hover {
  scale: 105%;
}
.first {
  margin-left: 93px;
}

.classimg {
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex: none; */
}
.feature-card-text {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.feature-card-text h2 {
  font-size: 24px;
  line-height: 130%;
  color: var(--cyanCust);
  font-family: nowBold;
}
.feature-card-text p {
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}
.learn-more {
  font-size: 16px;
  line-height: 160%;
  color: var(--cyanCust);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.bottom-section {
  display: flex;
  justify-content: space-between;
  margin-left: 93px;
  margin-bottom: 50px;
}
.indicator {
  display: flex;
  align-items: center;
}
.indicator-1 {
  height: 10px;
  width: 10px;
  background-color: #f063b8;
  border-radius: 50%;
  display: inline-block;
}
.indicator-2 {
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}
.arrows {
  margin-right: 93px;
}
.arrows button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease-out;
}

.landing-part-4-box {
  position: relative;
  display: flex;
  width: 1117px;
  height: 638px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 2px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  margin-bottom: 160px;
}
.text-part-4 {
  margin-left: 93px;
  margin-top: 109px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text-part-4 button {
  width: 271px;
  height: 76px;
  font-size: 24px;
  line-height: 160%;
  border: 0px;
  color: #ffffff;
  background: var(--blackCust);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.text-part-4 button:hover {
  scale: 105%;
  color: var(--cyanCust);
}
.text-part-4 h1 {
  font-size: 40px;
  line-height: 130%;
  color: var(--cyanCust);
  font-family: nowBold;
}
.text-part-4 p {
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
}
.phone-img {
  position: absolute;
  right: -80px;
  top: -10px;
  transform: rotate(-20.58deg);
}

.landing-part-5-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1118px;
  height: 709px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 1px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  justify-content: space-around;
  margin-bottom: 173px;
}
.landing-part-5-box h1 {
  margin-left: 93px;
  margin-top: 10px;
  color: var(--cyanCust);
  font-size: 40px;
  line-height: 130%;
  font-family: nowBold;
}
.testimonial-scroll-items {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* border: 5px solid #fff; */
}
.testimonial-card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: 0.5s all ease-out;
  align-items: center;
  position: absolute;
  left: 0;
  transition: 0.5s all ease-out;
  padding-right: 93px;
}
.testimonial-card {
  justify-content: center;
  /* align-content: center; */
  display: flex;
  min-width: 645px;
  height: 330px;
  background: #212121;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25),
    -9px -9px 10px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  margin-right: 45px;
  transition: 0.4s all ease-out;
}
.testimonial-card:hover {
  scale: 105%;
}
.first {
  margin-left: 93px;
}
.testimonial-arrows {
  margin-right: 93px;
}
.testimonial-arrows button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease-out;
}
.testimonial-arrows img {
  margin-left: 10px;
}
.landing-part-5-box h1 {
  font-size: 40px;
  line-height: 130%;
  color: var(--cyanCust);
  margin-top: 100px;
  font-family: nowBold;
}
.testimonial-card-text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.testimonial-card-text h2 {
  font-size: 22px;
  line-height: 160%;
  color: var(--cyanCust);
  font-family: nowBold;
}
.testimonial-card-text h3 {
  font-size: 14px;
  line-height: 160%;
  color: #9c69e2;
}
.testimonial-card-text p {
  font-size: 18px;
  line-height: 180%;
  color: #ffffff;
}
.content {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.landing-part-6 {
  width: 1118px;
  margin-bottom: 79px;
}
.subscribe {
  display: flex;
  justify-content: space-between;
}
.border {
  width: 100%;
  height: 2px;
  border-bottom: 2px solid #9c69e2;
  box-shadow: 0px -7px 0px rgba(255, 255, 255, 0.19);
  opacity: 0.2;
}
.email-input {
  position: relative;
  justify-content: flex-end;
}
.email-input input {
  width: 610px;
  height: 84px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 1px solid #272829;
  box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding-left: 34px;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  /* border: 0; */
}
.email-input input:focus {
  border: 0.5px solid var(--cyanCust);
}
.email-input button {
  position: absolute;
  right: 0;
  width: 150px;
  height: 50px;
  background: var(--blackCust);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  border: 0;
  margin-top: 17px;
  cursor: pointer;
  margin-right: 17px;
  transition: 0.2s ease-out;
}
.email-input button:hover {
  scale: 105%;
}
.subscribe-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subscribe-text h2 {
  font-size: 40px;
  line-height: 130%;
  color: var(--cyanCust);
  font-family: nowBold;
}
.subscribe-text p {
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
}
footer {
  display: flex;
  flex-direction: column;
}
.try-for-free {
  display: flex;
  justify-content: space-between;
  width: 1118px;
  align-content: center;
  margin-top: 72px;
  /* margin-bottom: 742px; //TODO */
  height: 101px;
  align-items: center;
}
.try-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.try-text h2 {
  font-size: 40px;
  line-height: 130%;
  color: var(--cyanCust);
  font-family: nowBold;
}
.try-text p {
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
}
.buttons {
  display: flex;
  justify-content: center;
}
.button-1 {
  width: 190px;
  height: 60px;
  background: var(--blackCust);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: 0;
  font-size: 18px;
  line-height: 160%;
  cursor: pointer;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}
.button-1:hover {
  color: var(--cyanCust);
}
.button-2 {
  width: 210px;
  height: 60px;
  background: var(--blackCust);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: 0;
  font-size: 16px;
  line-height: 160%;
  color: #9c69e2;
  cursor: pointer;
  margin-left: 20px;
  transition: 0.2s ease-in-out;
}
.button-2:hover {
  color: var(--blackCust);
  background: #9c69e2;
  font-family: nowBold;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  margin-top: 144px;
  margin-bottom: 93px;
}
.logo-name {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}
.logo-name img {
  width: 60px;
}
.logo-name h2 {
  font-size: 26px;
  line-height: 160%;
  color: var(--cyanCust);
  margin-left: 9px;
  font-family: nowBold;
}
.col-1 p {
  font-size: 16px;
  line-height: 180%;
  color: var(--cyanCust);
  margin-bottom: 10px;
}
.col-2 h3 {
  font-size: 16px;
  line-height: 160%;
  color: var(--cyanCust);
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}
.col-2 h2 {
  font-size: 16px;
  line-height: 160%;
  color: var(--cyanCust);
  cursor: pointer;
  margin-bottom: 10px;
}
.heads {
  margin-top: 20px;
  margin-bottom: 30px;
}
.col-4 h2 {
  font-size: 16px;
  line-height: 160%;
  color: var(--cyanCust);
  margin-left: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.links {
  display: flex;
}
.links div {
  width: 80px;
  height: 80px;
  background: var(--blackCust);
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 34px;
  cursor: pointer;
}
.links img {
  max-width: 37.5px;
  max-height: 37.5px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  margin-bottom: 189px;
  align-items: center;
}
.copyright h2 {
  font-size: 12px;
  line-height: 180%;
  color: var(--cyanCust);
}
.copyright div {
  width: 60px;
  height: 60px;
  background: var(--blackCust);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 85px;
}
.copyright img {
  max-width: 30px;
  cursor: pointer;
  max-height: 27.47px;
}
.dropdown {
  width: 40px;
  height: 36px;
  cursor: pointer;
  margin-right: 60px;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 25px;
  right: 0;
}
.line1,
.line2,
.line3 {
  width: 40px;
  background-color: var(--cyanCust);
  height: 4px;
  margin: 4px 2px;
  top: 10px;
  right: 0;
  transition: 0.5s all ease-out;
  posiiton: absolute;
}

@media only screen and (max-width: 1100px) {
  .navbar {
    posiiton: static;
    width: 100%;
    height: 300px;
    justify-content: center;
    padding-top: 20px;
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  }
  .left-nav {
    position: absolute;
    left: 60px;
    top: 15px;
  }
  .nav-items {
    flex-direction: column;
    transition: 0.5s all ease-out;
  }
  .right-nav {
    flex-direction: column;
    margin: 20px 0 0 0;
  }
  .left-nav img {
    margin: 0;
    padding: 0;
  }
  .right-nav div {
    margin: 10px 0 0 0;
  }
  .right-nav div a {
    margin: 0;
  }
  .right-nav button {
    margin: 20px 0 20px 0;
  }
  .left-nav {
    margin: 0;
    padding: 0;
  }
  .dropdown {
    display: block;
  }
  .clicked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .clicked-1 {
    transform: rotate(45deg);
    position: absolute;
  }
  .clicked-3 {
    transform: rotate(-45deg);
    position: absolute;
  }
  .clicked-2 {
    transform: translateX(30px);
    opacity: 0;
    position: absolute;
  }
  .h-nav-resp {
    height: 60px;
    filter: none;
  }
  .nav-items-resp {
    display: none;
    transition: 4.5s all ease-out;
  }
}
@media only screen and (max-width: 1183px) {
  .text-part h1 {
    font-size: 50px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .text-part p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .text-part button {
    scale: 70%;
    margin: 0;
    font-size: 20px;
  }
  .text-part button:hover {
    scale: 75%;
    margin: 0;
  }
  .landing-part1 img {
    scale: 80%;
  }
  .landing-part-2-box,
  .landing-part-3-box,
  .landing-part-4-box,
  .landing-part-5-box,
  .landing-part-6,
  footer {
    width: 850px;
  }
  .landing-part-2-box {
    height: 400px;
  }
  .landing-part-2-box img {
    scale: 70%;
  }
  .text-part-2 h1 {
    font-size: 30px;
  }
  .text-part-2 p {
    font-size: 12px;
    margin-top: 10px;
  }
  .landing-part-3-box {
    height: 700px;
  }
  .landing-part-3-box h1 {
    font-size: 25px;
  }
  .scroll-items {
    height: 450px;
  }
  .card {
    height: 400px;
  }
  .card {
    width: 300px;
  }
  .card div img {
    scale: 70%;
  }
  .feature-card-text h2 {
    font-size: 20px;
  }
  .feature-card-text p {
    font-size: 11px;
  }
  .learn-more {
    font-size: 11px;
  }
  .bottom-section {
    margin-top: 20px;
    scale: 80%;
  }
  .landing-part-4-box {
    height: 500px;
  }
  .landing-part-4-box img {
    height: 550px;
    right: -50px;
  }
  .text-part-4 h1 {
    font-size: 25px;
  }
  .text-part-4 p {
    font-size: 12px;
  }
  .text-part-4 button {
    scale: 70%;
    font-size: 20px;
  }
  .text-part-4 button:hover {
    scale: 75%;
  }
  .landing-part-5-box {
    height: 550px;
  }
  .testimonial-scroll-items {
    height: 300px;
  }
  .testimonial-card {
    min-width: 450px;
    height: 250px;
  }
  .landing-part-5-box h1 {
    font-size: 25px;
  }
  .testimonialimg img {
    width: 60px;
  }
  .testimonial-card-text h2 {
    font-size: 19px;
  }
  .testimonial-card-text h3 {
    font-size: 11px;
  }
  .testimonial-card-text p {
    font-size: 13px;
  }
  .subscribe-text h2 {
    font-size: 25px;
  }
  .subscribe-text p {
    font-size: 12px;
  }
  .email-input input {
    scale: 80%;
  }
  .email-input button {
    scale: 80%;
    right: 50px;
  }
  .email-input button:hover {
    scale: 85%;
    right: 50px;
  }
  .try-for-free {
    height: 70px;
    width: 100%;
  }
  .try-text h2 {
    font-size: 25px;
  }
  .try-text p {
    font-size: 12px;
  }
  .buttons button {
    scale: 70%;
  }
  .footer-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
  .logo-name {
    align-items: center;
    justify-content: center;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    text-align: center;
  }
  .links div,
  .copyright div img {
    margin: 0;
    scale: 75%;
  }
  .col-1 p,
  .col-2 h3,
  .col-2 h2,
  .col-4 h2 {
    font-size: 12px;
  }
  .copyright {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 940px) {
  html {
    overflow-x: clip;
  }
  .left-nav {
    position: absolute;
    left: 15px;
    top: 15px;
  }
  .dropdown {
    margin-right: 15px;
  }
  .landing-part1 {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  .text-part h1 {
    font-size: 25px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .text-part p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .text-part button {
    width: 50%;
    font-size: 15px;
  }
  .landing-part1 img {
    margin-top: 20px;
    width: 70%;
  }
  .landing-part-2-box,
  .landing-part-3-box,
  .landing-part-4-box,
  .landing-part-5-box,
  .landing-part-6,
  footer {
    flex-direction: column;
    width: 350px;
  }
  .landing-part-2-box {
    height: 500px;
  }
  .landing-part-2-box img {
    width: 60%;
  }
  .text-part-2 h1 {
    font-size: 20px;
  }
  .text-part-2 p {
    font-size: 10px;
    margin: 8px 0 18px 0;
  }
  .landing-part-3-box {
    height: 600px;
  }
  .landing-part-3-box h1 {
    font-size: 20px;
    text-align: center;
    margin: 40px 0 0 0;
  }
  .card {
    margin: 0 20px 0 20px;
  }
  .first {
    margin: 0 20px 0 40px;
  }
  .scroll-items {
    height: 400px;
  }
  .card {
    height: 350px;
  }
  .card {
    width: 210px;
  }
  .card div img {
    width: 60%;
  }
  .feature-card-text h2 {
    font-size: 15px;
  }
  .feature-card-text p {
    font-size: 8px;
  }
  .learn-more {
    text-align: center;
    margin-bottom: 10px;
  }
  .bottom-section {
    margin: 0;
    justify-content: space-between;
  }
  .arrows {
    margin: 0;
  }
  .arrows button img {
    width: 60%;
  }
  .indicator div {
    display: none;
  }
  .landing-part-4-box {
    height: 400px;
  }
  .phone-img {
    transform: rotate(-38deg);
    left: 120px;
    top: -60px;
  }
  .text-part-4 {
    margin: auto 0 auto 30px;
    width: 200px;
  }
  .text-part-4 h1 {
    font-size: 20px;
  }
  .text-part-4 p {
    margin-top: 10px;
    font-size: 10px;
  }
  .text-part-4 button {
    font-size: 12px;
    width: 45%;
  }
  .text-part-4 button:hover {
    scale: 55%;
    z-index: 1;
  }
  .landing-part-5-box {
    height: 550px;
  }
  .testimonial-scroll-items {
    height: 400px;
  }
  .testimonial-card {
    min-width: 260px;
    height: 350px;
    margin-right: 95px;
  }
  .landing-part-5-box h1 {
    font-size: 20px;
    text-align: center;
    margin: 40px 0 0 0;
  }
  .testimonialimg img {
    width: 60px;
  }
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .testimonial-card-container {
    padding: 0;
  }
  .testimonial-card-text {
    margin: 0;
  }
  .testimonial-card-text h2 {
    font-size: 19px;
  }
  .testimonial-card-text h3 {
    font-size: 11px;
  }
  .testimonial-card-text p {
    font-size: 13px;
  }
  .subscribe {
    flex-direction: column;
    align-items: center;
  }
  .subscribe-text h2 {
    font-size: 20px;
  }
  .subscribe-text p {
    font-size: 10px;
  }
  .email-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .email-input input {
    width: 100%;
    height: 70px;
    justify-content: flex-end;
    font-size: 18px;
    padding-right: 20px;
    margin: 10px 0 0 0;
    /* padding-left: 40px; */
  }
  .email-input button {
    width: 100px;
    position: static;
    margin: 10px 0 0 0;
  }
  .email-input button:hover {
    scale: 85%;
    right: 50px;
  }
  .try-for-free {
    flex-direction: column;
    height: 70px;
    width: 100%;
  }
  .try-text {
    text-align: center;
  }
  .try-text h2 {
    font-size: 20px;
  }
  .try-text p {
    font-size: 10px;
  }
  .buttons button {
    font-size: 10px;
    width: 100px;
    height: 60px;
  }
  .footer-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
  .logo-name {
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
    overflow: visible;
  }
  .logo-name img {
    width: 30px;
  }
  .logo-name h2 {
    font-size: 20px;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    text-align: center;
  }

  .links div img,
  .copyright div img {
    margin: 0;
    width: 20px;
  }
  .links div,
  .copyright div {
    margin: 0 10px;
    width: 40px;
    height: 40px;
  }
  .col-1 p,
  .col-2 h3,
  .col-2 h2,
  .col-4 h2,
  .copyright h2 {
    font-size: 8px;
  }
  .col-4 h2,
  .col-2 h3 {
    margin: 10px 0 10px 0;
  }
  .copyright {
    margin-bottom: 50px;
    justify-content: space-between;
  }
}
